<!DOCTYPE html>
<%- include('../partials/header.ejs') %>

<div class="accueil">
  <h1 class="title__pattern">Livres</h1>

  <table class="tableau">
    <thead class="tableau__thead">
      <tr class="tableau__thead__tr">
        <th class="tableau__thead__tr__th">Titre</th>
        <th class="tableau__thead__tr__th">Auteur</th>
        <th class="tableau__thead__tr__th">Nombre de page</th>
        <th class="tableau__thead__tr__th" colspan="2">actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(const livre of livres) { %>
      <div>
        <tr class="tableau__thead__tr">
          <td>
            <a class="lien__livre" href="/livres/<%=livre.livre_id %>">
              <%=livre.titre %>
            </a>
          </td>
          <td><%=livre.auteur %></td>
          <td><%=livre.nb_page %></td>
          <td><a class="btn btn_update" href="">Modifier</a></td>
          <td><a class="btn btn_delete" href="">Supprimer</a></td>
        </tr>
      </div>
      <% } %>
    </tbody>
  </table>

  <a class="btn_add" href="">Ajouter un livre</a>
</div>

<%- include('../partials/footer.ejs') %>
