<!DOCTYPE html>
<%- include('../partials/header.ejs') %>

<div class="accueil__livre__unique">
  <div class="left__content">
    <h1 class="title__pattern"> <%=livre.titre %></h1>
    <div class="livre__unique__infos">
      <h2>Informations :</h2>
      <div>Auteur : <%=livre.auteur %></div>
      <div>Nombre de pages : <%=livre.nb_page %></div>
    </div>

    <img
      class="img__unique__livre"
      src="https://picsum.photos/200/300"
      alt="lorem pixum aleatoire"
    />
  </div>
  <div class="right__content">
    <h2 class="title__description"> <%=livre.titre_text %></h2>
    <div class="exorde">
      <h3 class="subtitle__right">exorde</h3>
      <p class="rhetoric__text">
        <%=livre.exorde %>
        
      </p>
    </div>
    <div class="narration">
      <h3 class="subtitle__right">narration</h3>
      <p class="rhetoric__text">
        <%=livre.narration %>
      </p>
    </div>
    <div class="digression">
      <h3 class="subtitle__right">digression</h3>
      <p class="rhetoric__text">
        <%=livre.digression %>
      </p>
    </div>
    <div class="peroraison">
      <h3 class="subtitle__right">peroraison</h3>
      <p class="rhetoric__text">
        <%=livre.peroraison %>
      </p>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
